{% extends "layout.html" %}
{% block body %}

<style>
    .card {
        margin-bottom: 20px;
        max-width: 100rem;
    }

    .col-md-4 {
        max-height: 500rem;
    }

    .select_department_div {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h3 {
        color: #333;
    }

    select, input {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
    }

    .btn-custom {
        display: block;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-custom:hover {
        background-color: #0056b3;
    }

    .btn-link-custom {
        display: block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
    }

    .btn-link-custom:hover {
        background-color: #0056b3;
    }
</style>

    

<div class="container mt-5">
    <div class="logout-btn float-right mt-2">
        <form action="/logout" method="post">
            <button type="submit" name="submit" class="btn btn-outline-danger">Logout</button>
        </form>
    </div>

    <div class="row">
        <!-- First Column -->
        
        <div class="col-md-4">
            
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Add Department</h3>
                    <button class="btn btn-outline-primary" onclick="showDeptForm(this)">
                        Show Form
                    </button>
                    <div id="department-form" style="display: none;">
                        <form action="/save-department" method="post">
                            <label for="course">Course:</label>
                            <input type="text" id="course" name="course" class="form-control"><br>
                            <label for="year">Year:</label>
                            <input type="text" id="year" name="year" class="form-control"><br>
                            <label for="section">Section:</label>
                            <input type="text" id="section" name="section" class="form-control"><br>
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Column -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form action="/get-section" method="POST" class="select_department_div">
                        <div>
                            <h3>Select Student Room</h3>
                            <select id="deptSelect" name="dept" class="form-control">
                                <option value="" disabled selected>Select Department</option>
                                {% for i in department_courses %}
                                    {% for j in i %}
                                        <option value="{{ j }}">{{ j }}</option>
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>
                        <div id="sectionDropdown" style="display: none;">
                            <h3>Select Student Level</h3>
                            <select id="yearSelect" name="year" class="form-control">
                                <option value="" disabled selected>Select Year</option>
                                <!-- Options will be dynamically added here -->
                            </select>
                        </div>
                        <div id="sectionDropdown1" style="display: none;">
                            <h3>Select a Section</h3>
                            <select name="section" class="form-control">
                                <option value="" disabled selected>Select Section</option>
                                <!-- Options will be dynamically added here -->
                            </select>
                        </div>
                        <input type="submit" id="submit" value="Submit" class="btn btn-outline-primary" style="display: none;">
                    </form>
                </div>
            </div>
        </div>

        <!-- Third Column -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Manage Records</h3>
                    <form action="manage-records">
                        <select name="manage-records-select" id="manage-records-select" class="form-control">
                            <option value="" selected disabled>Select Option</option>
                            <option value="0">Student</option>
                            <option value="1">Department</option>
                        </select>
                        <button type="submit" name="recordBtn" class="btn btn-outline-warning">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% block javascript %}
<script>
    $(document).ready(function () {
        $('#manage-records-select').change(function (){
            var manageRecordsSelect = $(this).val();
            if (manageRecordsSelect==="0"){
                
            } else if (manageRecordsSelect==="1") {
                
            } else {
                console.log(false);
            }
        });



        $('#deptSelect').change(function () {
            var selectedDept = $(this).val();
            var sectionOptions = '<option value="" disabled selected>Select Section</option>';
            $('#sectionDropdown').show();
            $('#sectionDropdown1').hide();
            axios.get(`/get-year-by-department/${selectedDept}`).then(response => {
                if (response.status===201){
                    let data 
                }else{
                    let data = response.data.year;
                    let sectionOptions = '<option value="" disabled selected>Select Year</option>'
                    if (data.length>0){
                        for (let i=0; i<data.length; i++){
                            sectionOptions += `<option value="${data[i]}">${data[i]}</option>`;
                        }
                        $('select[name="year"]').html(sectionOptions);
                        $('#sectionDropdown').show();
                    } else {
                        let sectionOptions = '<option value="" disabled selected>Select Section</option>';
                        $('select[name="year"]').html(sectionOptions);
                        $('#sectionDropdown').show();
                    }
                }
            }).catch(error => {

            });
            $('#yearSelect').change(function ()  {
                var selectedYear = $(this).val();
                var selectedDept = $('#deptSelect').val();

                if (selectedYear && selectedDept) {
                    axios.get(`/get-section-by-level/${selectedYear}/${selectedDept}`).then(response => {
                        if (response.status===201){
                            let data = response.data.section;
                            let sectionOptions = '<option value="" disabled selected>Select Section</option>';
                            if (data.length > 0) {
                                for (let i = 0; i < data.length; i++) {
                                    sectionOptions += `<option value="${data[i]}">${data[i]}</option>`;
                                }
                            } 
                            $('select[name="section"]').html(sectionOptions);
                            $('#sectionDropdown1').show();
                            $('#submit').prop('disabled', false).show();
                        } else {
                            let sectionOptions = '<option value="" disabled selected>Select Section</option>';
                            $('select[name="section"]').html(sectionOptions);
                            $('#sectionDropdown1').show();
                            $('#submit').prop('disabled', false).show();
                        }
                    }).catch(error => {
                        console.log(error.data);
                    });                  
                } else {
                    $('#sectionDropdown1').hide();
                    $('#submit').hide();
                }
            });
        });
    });
    
    function showDeptForm(btn){
        let departmentForm = document.getElementById("department-form");
        if (departmentForm.style.display === "none"){
            departmentForm.style.display = "block";
            btn.innerHTML="Hide";
        } else{
            btn.innerHTML="Add Department"
            departmentForm.style.display = "none";
        }
    }
</script>
    {% endblock %}
{% endblock %}
