{% extends "layout.html" %}
{% block body %}

<style>
    /* Heading Styles */
    h1 {
        font-size: 24px;
        color: #333;
        margin-top: 20px;
    }

    h3 {
        font-size: 18px;
        color: #555;
    }

    /* Scan Attendance Button Style */
    .action-btn {
        margin-top: 20px;
    }

    /* Table Styles */
    .custom-table {
        margin-top: 20px;
    }

    /* QR Code Image Styles */
    .qr-code-img {
        width: 50px;
        height: 50px;
    }

    /* Back Button Style */
    .back-btn {
        margin-top: 20px;
    }
</style>

<div class="container">
    <h1>Student Table</h1>
    <h3>{{ selected_year }} Year</h3>
    <h3>Section: {{ selected_section }}</h3>

    <div class="action-btn">
        <a href="/student-form/{{ selected_dept }}/{{ selected_year }}/{{ selected_section }}" class="btn btn-outline-primary">
            Add Student
        </a>

        <a href="/scan-qr/{{ selected_year }}/{{ selected_section }}" class="btn btn-outline-info">
            Scan Attendance
        </a>

        <a href="javascript:history.back()" class="btn btn-outline-danger">
            Back
        </a>
    </div>

    <table class="table table-bordered table-striped custom-table">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Surname</th>
                <th>Student Number</th>
                <th>Department</th>
                <th>QR Code</th>
            </tr>
        </thead>
        <tbody>
            {% if not students %}
                <tr></tr>
            {% else %}
                {% for student in students %}
                    <tr>
                        <td>{{ student.firstname }}</td>
                        <td>{{ student.surname }}</td>
                        <td>{{ student.student_number }}</td>
                        <td>{{ student.department }}</td>
                        <td>
                            <a href="{{ url_for('static', filename='qrcodes/' ~ user_fullname ~ '/' ~ student.student_number ~ '.png') }}">
                                <img src="{{ url_for('static', filename='qrcodes/' ~ user_fullname ~ '/' ~ student.student_number ~ '.png') }}" alt="qr code of this student" width="50%" height="50%">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}
