{% extends "layout.html" %}
{% block body %}

<style>
    /* Heading Style */
    h1 {
        font-size: 28px;
        color: #333;
        margin-top: 20px;
        text-align: center;
    }

    /* Form Layout and Label Styles */
    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 5%;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        color: #555;
    }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    /* Required Field Indicator */
    input[required] {
        border-color: #ff0000; /* Change the border color for required fields */
    }

    /* Submit Button Style */
    input[type="submit"], a.button {
        display: inline-block;
        margin-top: 20px;
        padding: 12px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        transition: background-color 0.3s;
    }

    input[type="submit"]:hover, a.button:hover {
        background-color: #0056b3;
    }
</style>

<h1>Add Student</h1>
<form method="POST" action="/add-student">
    <label for="firstname">First Name:</label>
    <input type="text" id="firstname" name="firstname" required>

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" required>

    <label for="student_number">Student Number:</label>
    <input type="text" id="student_number" name="student_number" required>

    <label for="section">Section: {{ current_dept.section }}</label>
    <input type="text" id="section" name="section" value="{{ current_dept.section }}" hidden>

    <label for="year">Year: {{ current_dept.year }}</label>
    <input type="text" id="year" name="year" value="{{ current_dept.year }}" hidden>

    <label for="department">Department: {{ current_dept.course }}</label>
    <input type="text" id="department" name="department" value="{{ current_dept.id }}" hidden>

    <input type="submit" value="Add Student">
    <a class="btn btn-outline-danger" href="javascript:history.back()">Back</a>
</form>

{% endblock %}
